page-masteratm {
  .toolbar-background{
    background-image: url(../assets/img/user-img-background.jpg)!important;
    //color: #337ab7 !important;
  }
  // .bar-buttons{
  //   //color: rgba(0, 0, 0, 0.09);
  // }
  .bar-buttons .bar-buttons-md{
    color: #337ab7;
    font-size: 20px;
  }

  .bar-buttons .bar-buttons-md{
    color: #337ab7;
    font-size: 20px;
  }

  .toolbar-title {
    color: #fff;
}
.toolbar-title-ios {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    color: #fff;
    pointer-events: auto;
}

.toolbar-title-md {
 // padding: 0 80px;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
  padding-right: 30px;
  color: #fff;
  pointer-events: auto;
}

.toolbar-title {
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

  .toolbar .searchbar-ios .searchbar-input {
    background: rgba(0, 0, 0, 0.08);
}
.searchbar-ios.searchbar-left-aligned .searchbar-input {
    padding-left: 30px;
}

.searchbar-md .searchbar-input {
  background: rgba(0, 0, 0, 0.08);
  padding: 6px 55px;
  border-radius: 2px;
  background-position: left 8px center;
}

  .konten{
    ion-card{
      width: 100%;
      margin: 0;
      // ion-card-header{
      //   background: #efefef;
      //   font-size: 10pt;
      //   height: 10px;
      //   line-height: 10px;
      //   text-align: center;
      //   font-weight: bolder;
      // }

      .CL001{
          background: #2196F3 !important;
          font-size: 10pt;
          height: 50px;
          line-height: 50px;
          text-align: center;
          font-weight: bolder;
      }
      .CL002{
          background: #FF9900 !important;
          font-size: 10pt;
          height: 50px;
          line-height: 50px;
          text-align: center;
          font-weight: bolder;
      }
      .CL003{
          background: #3F51B5 !important;
          font-size: 10pt;
          height: 50px;
          line-height: 50px;
          text-align: center;
          font-weight: bolder;
      }
      .CMW{
          background: #FFC107 !important;
          font-size: 10pt;
          height: 50px;
          line-height: 50px;
          text-align: center;
          font-weight: bolder;
      }
      .CTI{
          background: #4CAF50 !important;
          font-size: 10pt;
          height: 50px;
          line-height: 50px;
          text-align: center;
          font-weight: bolder;
      }
      .BMG{
          background: #FFC107 !important;
          font-size: 10pt;
          height: 50px;
          line-height: 50px;
          text-align: center;
          font-weight: bolder;
      }
      .RAK{
          background: #009688 !important;
          font-size: 10pt;
          height: 50px;
          line-height: 50px;
          text-align: center;
          font-weight: bolder;
       }
      ion-list{
        ion-row{
          .coldata{
            font-size: 10pt;
            font-weight: 300px;
          }
          .coltombol{
            .tom1{
              .buttoncreate{
                border-radius: 50px;
                background: #607D8B;
                width: 20%;
                height: 110%;
              }
            }
            .tom2{
              margin-top: 15px;
              .buttoninformation{
                border-radius: 50px;
                background: #009688;
                width: 20%;
                height: 110%;
              }
            }
          }
        }
      }
     }
  }
}
