  <ion-header>
      <ion-navbar padding class="nav">
        <ion-title *ngIf="!isSearch">
          RAKSYST
        </ion-title>
        <ion-searchbar *ngIf="isSearch"  no-lines (ionInput)="getItems($event)"></ion-searchbar>
        <ion-buttons left>
        <button  ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons end>
          <button class="bar-buttons-md"  ion-button (click)="search()">
            <ion-icon name="md-search"></ion-icon>
          </button>
        </ion-buttons>
      </ion-navbar>
    </ion-header>

    <ion-content class="konten">
      <ion-card *ngFor="let a of items">
        <ion-card-header class="{{a.atmCompany_code}}">
          {{a.atmCompany_name}}
        </ion-card-header>
        <ion-list>
          <ion-row>
            <ion-col col-9 class="coldata">
                <ion-row>
                  <ion-col col-4>ATM ID</ion-col><ion-col col-2>:</ion-col><ion-col col-5>{{a.atmID}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-4>Location</ion-col><ion-col col-2>:</ion-col><ion-col col-5>{{a.atmLokasi}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-4>Type</ion-col><ion-col col-2>:</ion-col><ion-col col-5>{{a.atmType}}</ion-col>
                </ion-row>
            </ion-col>
            <ion-col col-3 class="coltombol">
              <ion-row class="tom1">
                  <ion-buttons  item-start class="b1">
                      <button ion-button class = "buttoncreate" ion-button >
                          <ion-icon name="md-create"></ion-icon>
                      </button>
                    </ion-buttons>
              </ion-row>
              <ion-row class="tom2">
                  <ion-buttons  item-end class="b2">
                      <button class = "buttoninformation" ion-button >
                          <ion-icon name="information-circle"></ion-icon>
                      </button>
                    </ion-buttons>
                </ion-row>
            </ion-col>
          </ion-row>
        </ion-list>
        </ion-card>
      <ion-fab right bottom>
          <button ion-fab mini (click)="tambah()"><ion-icon name="add"></ion-icon></button>
        </ion-fab>

    </ion-content>
