<ion-header>
    <ion-navbar padding>
      <ion-title>
        RAKSYST
      </ion-title>
      <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    </ion-navbar>
  </ion-header>

<ion-content class="konten">
    <ion-list *ngIf="!startcreate" >
      <ion-list-header>Transaction</ion-list-header>
      <ion-item>
          <ion-label floating>ATM ID</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <p>{{tes.nama}}</p>
        <button id="createbutton" ion-button (click)="create()">Create</button>
    </ion-list>

        <ion-list *ngIf="startcreate" >

          <ion-list-header>Transaction</ion-list-header>

              <ion-item>
                <ion-label floating>Role Code</ion-label>
                <ion-input type="text"></ion-input>
              </ion-item>

              <ion-item>
                  <ion-label floating>Role Name</ion-label>
                  <ion-input type="text"></ion-input>
                </ion-item>



                    <div class="tombol">
                    <button ion-button (click)="postData()" class="save">
                      Save
                    </button>
                    <button ion-button  (click)="back()" class="cancel">
                        Cancel
                      </button>
                    </div>

            </ion-list>

</ion-content>
