page-masteratmtambah {
  .konten{
    .scroll {
      height: 100%
    }
    .tombol{
      margin-left: 15px;
      .save{
        background: #009688 !important;
      }
      .cancel{
        background: #FF5722 !important;
      }
    }

    ion-list{
    }
    #map {
      width: 100%;
      height: 30%;
    }
  }
}
