<ion-header>
    <ion-navbar padding>
      <ion-title>
        RAKSYST
      </ion-title>
      <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    </ion-navbar>
  </ion-header>

<ion-content class="konten">

        <ion-list>

          <ion-list-header>MASTER ATM</ion-list-header>

              <ion-item>
                <ion-label floating>ID ATM</ion-label>
                <ion-input type="text"  [(ngModel)]="tambahAtm.data['atmID']"></ion-input>
              </ion-item>

              <ion-item>
                  <ion-label floating>Bank Name</ion-label>
                  <ion-select [(ngModel)]="tambahAtm.data['atmName']">
                     <ion-option value="0">Select</ion-option>
                     <ion-option value="CL001">BCA</ion-option>
                     <ion-option value="CL002">BNI</ion-option>
                     <ion-option value="CMW">Common Wealth</ion-option>
                     <ion-option value="CTI">CURMIT</ion-option>
                     <ion-option value="BMG">MEGA</ion-option>
                     <ion-option value="RAK">ROYAL</ion-option>
                </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label floating>Type ATM</ion-label>
                    <ion-select [(ngModel)]="tambahAtm.data['atmType']">
                        <ion-option value="R">Ruang</ion-option>
                        <ion-option value="L">Lobby</ion-option>
                        <ion-option value="C">Center</ion-option>
                    </ion-select>
                  </ion-item>

              <ion-item>
                  <ion-label floating>Lokasi</ion-label>
                  <ion-input type="text"  [(ngModel)]="tambahAtm.data['atmLokasi']"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label floating>Address</ion-label>
                    <ion-input type="text" [(ngModel)]="tambahAtm.data['atmAddress']"></ion-input>
                  </ion-item>




              <ion-item>
                  <ion-label floating>Provinsi</ion-label>
                  <ion-select (ngModelChange)="provselect($event)" [(ngModel)]="tambahAtm.data['atmProvinsi']">
                      <ion-option *ngFor="let p of dataobjectProvinsi" value="{{ p.provinsiID }}">{{ p.provinsiName }}</ion-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label floating>Kota</ion-label>
                    <ion-select  [(ngModel)]="tambahAtm.data['atmKota']">
                        <ion-option *ngFor="let k of dataobjectKota" value="{{ k.id_kota }}">{{ k.kota }}</ion-option>
                      </ion-select>
                  </ion-item>
                  <ion-row>
                    <ion-col>
                        <ion-item no-lines>
                            <ion-label floating>Latitude</ion-label>
                            <ion-input type="text" [(ngModel)]="tambahAtm.data['ftlatitude']"></ion-input>
                          </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item no-lines>
                            <ion-label floating>Longitude</ion-label>
                            <ion-input type="text" [(ngModel)]="tambahAtm.data['ftlongitude']"></ion-input>
                          </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-buttons>
                      <button ion-button icon-left color="header" (click)="generateMap()">
                        <ion-icon name="pin"></ion-icon>Generate Location
                      </button>

                    </ion-buttons>

                      <ion-item-group>
                          <ion-buttons>
                            <button ion-button icon-left color="header" (click)="presentActionSheet()">
                              <ion-icon name="camera"></ion-icon>Select Image
                            </button>

                          </ion-buttons>

                          <img src="{{pathForImage(lastImage)}}" style="width: 100%" [hidden]="lastImage === null">
                          <h3 [hidden]="lastImage !== null">Please Select Image!</h3>

                         </ion-item-group>

                        </ion-list>

                        <div style="width:100%; height:30%" #map="" id="map">
                          </div>

                    <div class="tombol">
                    <button ion-button class="save" (click)="postData()" >
                      Save
                    </button>
                    <button ion-button class="cancel" (click)="back()">
                        Cancel
                      </button>
                    </div>



</ion-content>
