
    <!-- <ion-header>
        <ion-navbar padding>
          <ion-title>
            RAKSYST
          </ion-title>
          <ion-buttons left>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-buttons>
        </ion-navbar>
      </ion-header>

      <ion-content class="konten">
        <div class="card1">
          <ion-card>
            <ion-card-header>TABEL MASTER CLIENT</ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row class="row1">
                  <ion-col>
                    <button ion-button (click)="tambah()">Add</button>
                  </ion-col>
                </ion-row>
                <ion-row class="row2">
                  <ion-col col-3><button ion-button>Copy</button></ion-col>
                  <ion-col col-3><button ion-button>Excel</button></ion-col>
                  <ion-col col-3><button ion-button>CSV</button></ion-col>
                  <ion-col col-3><button ion-button>PDF</button></ion-col>
                </ion-row>
                <ion-row class="row3">
                  <ion-col>
                      <ion-searchbar no-lines (ionInput)="getItems($event)"></ion-searchbar>
                  </ion-col>
                </ion-row>
                <ion-row>
                </ion-row>
              </ion-grid>
            </ion-card-content>
            <div class="card2">
                <ion-card *ngFor= "let client of items; let i = index">
                  <ion-grid>
                    <ion-row class="row1">
                      <ion-col>
                        <ion-row>
                          <ion-col class="colbold">Bank</ion-col>
                          <ion-col>:</ion-col>
                          <ion-col>{{client.ClientName}}</ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col class="colbold">Adress</ion-col>
                            <ion-col>:</ion-col>
                            <ion-col>{{client.ClientAddress}}</ion-col>
                          </ion-row>
                          <ion-row>
                              <ion-col class="colbold">PIC</ion-col>
                              <ion-col>:</ion-col>
                              <ion-col>{{client.ClientPic}}</ion-col>
                            </ion-row>
                            <div>
                            <ion-row>
                                <ion-col class="colbold">Phone</ion-col>
                                <ion-col>:</ion-col>
                                <ion-col>{{client.ClientPhone}}</ion-col>
                              </ion-row>
                              <ion-row>
                                  <ion-col col-4 class="colbold">Email</ion-col>
                                  <ion-col>:</ion-col>
                                  <ion-col>{{client.ClientEmail}}</ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col class="colbold">Status</ion-col>
                                    <ion-col>:</ion-col>
                                    <ion-col>{{client.ClientStatus}}</ion-col>
                                  </ion-row>
                           </div>
                        </ion-col>
                    </ion-row>
                    <ion-row class="row2">

                      <ion-col>
                          <button class = "buttoncreate" ion-button icon-right>
                              <ion-icon name="md-create" ></ion-icon>
                          </button>
                      </ion-col>
                      <ion-col>

                          <button class = "buttonremove" ion-button color="danger"  icon-only>
                              <ion-icon name='remove-circle' is-active="false"></ion-icon>
                            </button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card>
              </div>
          </ion-card>
        </div>
      </ion-content> -->

      <ion-header>
          <ion-navbar padding class="nav">
            <ion-title *ngIf="!isSearch">
              RAKSYST
            </ion-title>
            <ion-searchbar *ngIf="isSearch"  no-lines (ionInput)="getItems($event)"></ion-searchbar>
            <ion-buttons left>
            <button  ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
            </button>
          </ion-buttons>
          <ion-buttons end>
              <button class="bar-buttons-md"  ion-button (click)="search()">
                <ion-icon name="md-search"></ion-icon>
              </button>
            </ion-buttons>
          </ion-navbar>
        </ion-header>

        <ion-content class="konten">
          <ion-card *ngFor="let a of items">
            <ion-card-header class="{{a.ClientID}}">
              {{a.ClientName}}
            </ion-card-header>
            <ion-list>
              <ion-row>
                <ion-col col-9 class="coldata">
                    <ion-row>
                      <ion-col col-4>Address</ion-col><ion-col col-2>:</ion-col><ion-col col-5>{{a.ClientAddress}}</ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col col-4>PIC</ion-col><ion-col col-2>:</ion-col><ion-col col-5>{{a.ClientPic}}</ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col col-4>Phone</ion-col><ion-col col-2>:</ion-col><ion-col col-5>{{a.ClientPhone}}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-4>Email</ion-col><ion-col col-2>:</ion-col><ion-col col-5>{{a.ClientEmail}}</ion-col>
                      </ion-row>
                      <ion-row>
                          <ion-col col-4>Status</ion-col><ion-col col-2>:</ion-col><ion-col col-5>{{a.ClientStatus}}</ion-col>
                        </ion-row>
                </ion-col>
                <ion-col col-3 class="coltombol">
                    <ion-row class="tom1">
                        <ion-buttons  item-start class="b1">
                            <button ion-button class = "buttoncreate" ion-button >
                                <ion-icon name="md-create"></ion-icon>
                            </button>
                          </ion-buttons>
                    </ion-row>
                    <ion-row class="tom2">
                        <ion-buttons  item-end class="b2">
                            <button class = "buttonremove" ion-button >
                                <ion-icon name="remove-circle"></ion-icon>
                            </button>
                          </ion-buttons>
                      </ion-row>
                </ion-col>
              </ion-row>
            </ion-list>
            </ion-card>
          <ion-fab right bottom>
              <button ion-fab mini (click)="tambah()"><ion-icon name="add"></ion-icon></button>
            </ion-fab>
        </ion-content>





