page-home{
  .konten{
    padding: 0;
    margin: 0 0;
    .atmInfo {
      padding: 0 0 0 0;
      margin: 0 auto;
      width: 100%;
        ion-item{
          //display: table-cell;
          border: solid 1px #ccc;
        }

      // .orange{
      //   background: #000 !important;
      //   //background: #2196F3 !important;
      //   margin-right: 0;
      //   margin-bottom: 5px;


      //   h2{
      //     color: #fff;
      //     font-weight: bold;
      //   }
      //   h1{
      //     color: #fff;
      //     font-weight: bold;
      //   }
      // }

      // .blue{
      //   background: #efefef !important;
      //   //background: #2196F3 !important;
      //   margin-right: 0;
      //   margin-bottom: 5px;


      //   h2{
      //     color: #fff;
      //     font-weight: bold;
      //   }
      //   h1{
      //     color: #fff;
      //     font-weight: bold;
      //   }
      // }
       ion-item{
        h2{
          color: #fff;
          font-weight: bold;
        }
        h1{
          color: #fff;
          font-weight: bold;
        }
      }


      .CL001{
        background: #2196F3 !important;
        margin-right: 0;
        margin-bottom: 5px;
      }
      .CL002{
        background: #FF9900 !important;
        margin-right: 0;
        margin-bottom: 5px;
      }
      .CL003{
        background: #61F03D !important;
        margin-right: 0;
        margin-bottom: 5px;
      }
      .CMW{
        background: #FF9900 !important;
        margin-right: 0;
        margin-bottom: 5px;
      }
      .CTI{
        background: #000 !important;
        margin-right: 0;
        margin-bottom: 5px;
      }
      .BMG{
        background: #FF9900 !important;
        margin-right: 0;
        margin-bottom: 5px;
      }
      .RAK{
        background: #FF9900 !important;
        margin-right: 0;
        margin-bottom: 5px;
      }


    }
    .atm-tagging {
      padding: 0 0 0 0;
      margin: 0 auto;
      width: 100%;
      margin-bottom: 30px;
      .inner2{
        margin-right: 10px;
        h2{
          background: #efefef;
        }
        margin: 10px;
        width: 550px;
        height: 100%;
        ion-item{
          display: table-cell;
          border: solid 1px #ccc;
        }
      }
    }
    .atm-task {
      padding: 0 0 0 0;
      margin: 0 auto;
      width: 100%;
      margin-bottom: 30px;
      .inner3{
        margin-right: 10px;
        .row{
          background: #c6ceda;
        }
        margin: 10px;
        width: 500px;
        height: 100%;
        .col-1{
          width : 120px;
          display: table-cell;
          border: solid 1px #ccc;
        }
        .col-2{
          width: 40px;
          display: table-cell;
          border: solid 1px #ccc;
        }
        .col-3{
          width: 130px;
          display: table-cell;
          border: solid 1px #ccc;
        }
        .col-4{
          width: 100px;
          display: table-cell;
          border: solid 1px #ccc;
        }
        .col-5{
          width: 80px;
          display: table-cell;
          border: solid 1px #ccc;
        }
      }
    }
    .atm-jo{
      background: #00BCD4 !important;
      ion-card-header{
        color: #fff;
        font-weight: bolder;
      }
      ion-row{
        ion-col{
          h3{
            font-weight: bolder;
            color: #fff;
          }
          h4{
            font-weight: bolder;
            color: #fff;
          }
        }
      }
    }
  }
}
