page-home{
  .scroll-content {
    background-color: map-get($colors, light);
  }
  .konten{
    .judul{
      color: #2F4F67;
      font-weight: bold;
      margin-left: 10px;
    }
    .atm-info{
      ion-card{
        margin: 0;
        width: 100%;
      h2{
        color: #fff;
        font-weight: bold;
        margin-left: 15px;
         }
      h1{
        color: #fff;
        font-weight: bold;
        margin-left: 15px;
        }

      .CL001{
        .item-inner{
          background: #2196F3 !important;
        }
      //  margin-bottom: 5px;
      }
      .CL002{
        .item-inner{
          background: #FF9900 !important;
        }
      }
      .CL003{
        .item-inner{
          background: #3F51B5 !important
        }
      }
      .CMW{
        .item-inner{
          background: #FFC107 !important
        }
      }
      .CTI{
        .item-inner{
          background: #4CAF50 !important
        };
      }
      .BMG{
        .item-inner{
          background: #FFC107 !important
        }
      }
      .RAK{
        .item-inner{
          background: #009688 !important
        }
       }
      }
    }

    #icon{
      margin-top: 15px;
      margin-right: 20px;
      background: none;
      border: 5px solid #6F7172;

      .icon{
        color: #6F7172;
        font-size: 24px;
      }
    }
    .atm-tagging{
      ion-card{
        width: 100%;
        margin: 0;
        margin-top: 5px;
        ion-card-header{
          background: #cdd2d6;
        }
        ion-card-content{
         .chartjs-render-monitor{
              display: block;
              width: 1500px;
              height: 500px;
            }

          .inner2{
            //margin-right: 10px;
            margin-top: 10px;
            width: 500px;
            height: 100%;
            ion-col{
              width: 70px;
              display: table-cell;
              border: solid 1px #ccc;
              background: #c6ceda;
              padding: 5px;
              h2{
                width: 100%;
                margin: 0;
                background: #c6ceda;
                border: none;
              }
              p{
                width: 100%;
                margin: 0;
                background: #fff;
                border: none;
              }
            }
          }
        }
      }
    }
    .atm-task{
      ion-card{
        width: 100%;
        margin: 0;
        margin-top: 5px;
        ion-card-header{
          background: #cdd2d6;
        }
          ion-card-content{
            .inner3{
              margin-right: 10px;
              .row{
                background: #c6ceda;
              }
              margin: 10px;
              width: 480px;
              height: 100%;
              .col-1{
                width : 120px;
                display: table-cell;
                border: solid 1px #ccc;
              }
              .col-2{
                width: 40px;
                display: table-cell;
                border: solid 1px #ccc;
                text-align: center;
              }
              .col-3{
                width: 130px;
                display: table-cell;
                border: solid 1px #ccc;
              }
              .col-4{
                width: 100px;
                display: table-cell;
                border: solid 1px #ccc;
              }
              .col-5{
                width: 100px;
                display: table-cell;
                border: solid 1px #ccc;
              }
              .col-1-a{
                width : 120px;
                display: table-cell;
                border: solid 1px #ccc;
              }
              .col-2-a{
                width: 40px;
                display: table-cell;
                border: solid 1px #ccc;
                text-align: center;
              }
              .col-3-a{
                width: 130px;
                display: table-cell;
                border: solid 1px #ccc;
              }
              .col-4-a{
                width: 100px;
                display: table-cell;
                border: solid 1px #ccc;
              }
              .col-5-a{
                width: 80px;
                display: table-cell;
                border: solid 1px #ccc;
              }
            }
          }
      }
    }
    .atm-jo{
      ion-card{
      // margin: 0;
      // width: 100%;
      background: #00BCD4 !important;
      ion-card-header{
        color: #fff;
        font-weight: bolder;
      }
      ion-row{
        ion-col{
          h3{
            font-weight: bolder;
            color: #fff;
            margin-left: 15px;
          }
          h4{
            font-weight: bolder;
            color: #fff;
            margin-right: 10px;
          }
        }
       }
     }
    }
  }
}
