<ion-menu [content]="content">
    <ion-content class="sidemenu">
        <div class="logo">
          <img src="assets/img/user2.png"/>
        </div>

        <div class="sidemenu-info">
          <ion-fab right>
              <ion-icon id="sign" (click)="logout()" name="arrow-down"></ion-icon>
          </ion-fab>
              <p id="id">{{userLogin.userId}}</p>
              <p id="nama">{{userLogin.userEmail}}</p>


        </div>

  <ion-content id="container">

      <!-- menu admin -->
      <ion-list  class="listmenu" *ngIf="menuadmin">
          <ion-item (click)="keHome()">
            <ion-icon id="tes" name='home' fixed item-start color="secondary"></ion-icon>
            Home
          </ion-item>
          <ion-item (click)="toggleLevel1('idx')" >
            <!-- 1 -->
           <ion-icon id="tes" name='apps' item-start color="secondary"></ion-icon>
            Master
            <ion-icon id="tes2" item-end [name]="isLevel1Shown('idx') ? 'md-remove' : 'md-add'"></ion-icon>
          </ion-item>
          <ion-item (click)="keMasterUser()" *ngIf="isLevel1Shown('idx')" id="submenu">
            <!-- <ion-icon id="tes" name='clipboard' item-start color="secondary"></ion-icon> -->
            User
          </ion-item>
          <ion-item (click)="keMasterATM()" *ngIf="isLevel1Shown('idx')" id="submenu">
            <!-- <ion-icon id="tes" name='clipboard' item-start color="secondary"></ion-icon> -->
            Atm
          </ion-item>
          <ion-item (click)="keMasterClient()" *ngIf="isLevel1Shown('idx')" id="submenu">
            <!-- <ion-icon id="tes" name='clipboard' item-start color="secondary"></ion-icon> -->
            Client
          </ion-item>
           <!-- 2 -->
         <ion-item (click)="toggleLevel2('idx')" >
           <ion-icon id="tes" name='clipboard' item-start color="secondary"></ion-icon>
            Management Petugas
            <ion-icon id="tes2" item-end [name]="isLevel2Shown('idx') ? 'md-remove' : 'md-add'"></ion-icon>
          </ion-item>
          <ion-item (click)="keManajemenRoleMenu()" *ngIf="isLevel2Shown('idx')" id="submenu">
            <!-- <ion-icon id="tes" name='clipboard' item-start color="secondary"></ion-icon> -->
            Management Role Menu
          </ion-item>
           <!-- 3 -->
          <ion-item (click)="toggleLevel3('idx')">
            <ion-icon id="tes" name='md-bookmarks' item-start color="secondary"></ion-icon>
            Transaction
            <ion-icon id="tes2" item-end [name]="isLevel3Shown('idx') ? 'md-remove' : 'md-add'"></ion-icon>
          </ion-item>
          <ion-item (click)="keCreateTransaction()" *ngIf="isLevel3Shown('idx')" id="submenu">
            <!-- <ion-icon id="tes" name='clipboard' item-start color="secondary"></ion-icon> -->
            Create Transaction
          </ion-item>
          <ion-item (click)="kePendingTransaction()" *ngIf="isLevel3Shown('idx')" id="submenu">
            <!-- <ion-icon id="tes" name='clipboard' item-start color="secondary"></ion-icon> -->
            Pending Transaction
          </ion-item>
           <!-- 4 -->
          <ion-item (click)="toggleLevel4('idx')">
              <ion-icon id="tes" name='md-bookmarks' item-start color="secondary"></ion-icon>
              Service
              <ion-icon id="tes2" item-end [name]="isLevel4Shown('idx') ? 'md-remove' : 'md-add'"></ion-icon>
            </ion-item>
            <ion-item (click)="keCreateService()" *ngIf="isLevel4Shown('idx')" id="submenu">
              <!-- <ion-icon id="tes" name='clipboard' item-start color="secondary"></ion-icon> -->
              Create Service
            </ion-item>
            <ion-item (click)="kePendingService()" *ngIf="isLevel4Shown('idx')" id="submenu">
              <!-- <ion-icon id="tes" name='clipboard' item-start color="secondary"></ion-icon> -->
              Pending Service
            </ion-item>
             <!-- 5 -->
          <ion-item (click)="toggleLevel5('idx')">
              <ion-icon id="tes" name='book' item-start color="secondary"></ion-icon>
              Job Order
              <ion-icon id="tes2" item-end [name]="isLevel5Shown('idx') ? 'md-remove' : 'md-add'"></ion-icon>
          </ion-item>
          <ion-item (click)="keCreateJobOrder()" *ngIf="isLevel5Shown('idx')" id="submenu">
            <!-- <ion-icon id="tes" name='clipboard' item-start color="secondary"></ion-icon> -->
            Create Job Order
          </ion-item>
          <ion-item (click)="kePendingJobOrder()" *ngIf="isLevel5Shown('idx')" id="submenu">
            <!-- <ion-icon id="tes" name='clipboard' item-start color="secondary"></ion-icon> -->
            Pending Job Order
          </ion-item>
           <!-- 6 -->
           <ion-item (click)="toggleLevel6('idx')">
              <ion-icon id="tes" name='md-bookmarks' item-start color="secondary"></ion-icon>
              List Data
              <ion-icon id="tes2" item-end [name]="isLevel6Shown('idx') ? 'md-remove' : 'md-add'"></ion-icon>
             </ion-item>
             <ion-item (click)="keDataTransaction()" *ngIf="isLevel6Shown('idx')" id="submenu">
              <!-- <ion-icon id="tes" name='clipboard' item-start color="secondary"></ion-icon> -->
              Data Transaction
            </ion-item>
            <ion-item (click)="keDataService()" *ngIf="isLevel6Shown('idx')" id="submenu">
              <!-- <ion-icon id="tes" name='clipboard' item-start color="secondary"></ion-icon> -->
              Data Service
            </ion-item>
            <ion-item (click)="keDataJobOrder()" *ngIf="isLevel6Shown('idx')" id="submenu">
              <!-- <ion-icon id="tes" name='clipboard' item-start color="secondary"></ion-icon> -->
              Data Job Order
            </ion-item>
             <!-- 7 -->
             <ion-item (click)="toggleLevel7('idx')">
                <ion-icon id="tes" name='md-bookmarks' item-start color="secondary"></ion-icon>
                 Verification
                 <ion-icon id="tes2" item-end [name]="isLevel7Shown('idx') ? 'md-remove' : 'md-add'"></ion-icon>
               </ion-item>
               <ion-item (click)="keVerificationTransaction()" *ngIf="isLevel7Shown('idx')" id="submenu">
                <!-- <ion-icon id="tes" name='clipboard' item-start color="secondary"></ion-icon> -->
                Verification Transaction
              </ion-item>
              <ion-item (click)="keVerificationService()" *ngIf="isLevel7Shown('idx')" id="submenu">
                <!-- <ion-icon id="tes" name='clipboard' item-start color="secondary"></ion-icon> -->
                Verification Service
              </ion-item>
              <ion-item (click)="keVerificationJobOrder()" *ngIf="isLevel7Shown('idx')" id="submenu">
                <!-- <ion-icon id="tes" name='clipboard' item-start color="secondary"></ion-icon> -->
                Verification Job Order
              </ion-item>
               <!-- 8 -->
               <ion-item (click)="toggleLevel8('idx')">
                  <ion-icon id="tes" name='navigate' item-start color="secondary"></ion-icon>
                  Tagging Location
                  <ion-icon id="tes2" item-end [name]="isLevel8Shown('idx') ? 'md-remove' : 'md-add'"></ion-icon>
                 </ion-item>
                 <ion-item (click)="keCreateTagging()" *ngIf="isLevel8Shown('idx')" id="submenu">
                  <!-- <ion-icon id="tes" name='clipboard' item-start color="secondary"></ion-icon> -->
                  Create Tagging
                </ion-item>
                 <!-- 9 -->
                 <ion-item (click)="toggleLevel9('idx')">
                    <ion-icon id="tes" name='navigate' item-start color="secondary"></ion-icon>
                    Report
                    <ion-icon id="tes2" item-end [name]="isLevel9Shown('idx') ? 'md-remove' : 'md-add'"></ion-icon>
                   </ion-item>
                   <ion-item (click)="keLaporanKunjunganBulanan()" *ngIf="isLevel9Shown('idx')" id="submenu">
                    <!-- <ion-icon id="tes" name='clipboard' item-start color="secondary"></ion-icon> -->
                    Laporan Kunjungan ATM Bulanan
                  </ion-item>
                  <ion-item (click)="keLaporanKunjunganRange()" *ngIf="isLevel9Shown('idx')" id="submenu">
                    <!-- <ion-icon id="tes" name='clipboard' item-start color="secondary"></ion-icon> -->
                    Laporan Kunjungan ATM Range
                  </ion-item>
        </ion-list>


        <!-- menu petugas 1 -->

        <ion-list  class="listmenu" *ngIf="menupetugas1" >
            <ion-item (click)="keHome()">
              <ion-icon id="tes" name='home' fixed item-start color="secondary"></ion-icon>
              Home
            </ion-item>
            <ion-item (click)="toggleLevel1('idx')" >
              <!-- 1 -->
             <ion-icon id="tes" name='apps' item-start color="secondary"></ion-icon>
              Master
              <ion-icon id="tes2" item-end [name]="isLevel1Shown('idx') ? 'md-remove' : 'md-add'"></ion-icon>
            </ion-item>
            <ion-item (click)="keMasterATM()" *ngIf="isLevel1Shown('idx')" id="submenu">
              <!-- <ion-icon id="tes" name='clipboard' item-start color="secondary"></ion-icon> -->
              Atm
            </ion-item>

             <!-- 2 -->
            <ion-item (click)="toggleLevel3('idx')">
              <ion-icon id="tes" name='md-bookmarks' item-start color="secondary"></ion-icon>
              Transaction
              <ion-icon id="tes2" item-end [name]="isLevel3Shown('idx') ? 'md-remove' : 'md-add'"></ion-icon>
            </ion-item>
            <ion-item (click)="keCreateTransaction()" *ngIf="isLevel3Shown('idx')" id="submenu">
              <!-- <ion-icon id="tes" name='clipboard' item-start color="secondary"></ion-icon> -->
              Create Transaction
            </ion-item>
            <ion-item (click)="kePendingTransaction()" *ngIf="isLevel3Shown('idx')" id="submenu">
              <!-- <ion-icon id="tes" name='clipboard' item-start color="secondary"></ion-icon> -->
              Pending Transaction
            </ion-item>

             <!-- 3 -->
            <ion-item (click)="toggleLevel4('idx')">
                <ion-icon id="tes" name='md-bookmarks' item-start color="secondary"></ion-icon>
                Service
                <ion-icon id="tes2" item-end [name]="isLevel4Shown('idx') ? 'md-remove' : 'md-add'"></ion-icon>
              </ion-item>
              <ion-item (click)="keCreateService()" *ngIf="isLevel4Shown('idx')" id="submenu">
                <!-- <ion-icon id="tes" name='clipboard' item-start color="secondary"></ion-icon> -->
                Create Service
              </ion-item>
              <ion-item (click)="kePendingService()" *ngIf="isLevel4Shown('idx')" id="submenu">
                <!-- <ion-icon id="tes" name='clipboard' item-start color="secondary"></ion-icon> -->
                Pending Service
              </ion-item>

               <!-- 4 -->
            <ion-item (click)="toggleLevel5('idx')">
                <ion-icon id="tes" name='book' item-start color="secondary"></ion-icon>
                Job Order
                <ion-icon id="tes2" item-end [name]="isLevel5Shown('idx') ? 'md-remove' : 'md-add'"></ion-icon>
            </ion-item>
            <ion-item (click)="keCreateJobOrder()" *ngIf="isLevel5Shown('idx')" id="submenu">
              <!-- <ion-icon id="tes" name='clipboard' item-start color="secondary"></ion-icon> -->
              Create Job Order
            </ion-item>
            <ion-item (click)="kePendingJobOrder()" *ngIf="isLevel5Shown('idx')" id="submenu">
              <!-- <ion-icon id="tes" name='clipboard' item-start color="secondary"></ion-icon> -->
              Pending Job Order
            </ion-item>

             <!-- 5 -->
             <ion-item (click)="toggleLevel6('idx')">
                <ion-icon id="tes" name='md-bookmarks' item-start color="secondary"></ion-icon>
                List Data
                <ion-icon id="tes2" item-end [name]="isLevel6Shown('idx') ? 'md-remove' : 'md-add'"></ion-icon>
               </ion-item>
               <ion-item (click)="keDataTransaction()" *ngIf="isLevel6Shown('idx')" id="submenu">
                <!-- <ion-icon id="tes" name='clipboard' item-start color="secondary"></ion-icon> -->
                Data Transaction
              </ion-item>
              <ion-item (click)="keDataService()" *ngIf="isLevel6Shown('idx')" id="submenu">
                <!-- <ion-icon id="tes" name='clipboard' item-start color="secondary"></ion-icon> -->
                Data Service
              </ion-item>
              <ion-item (click)="keDataJobOrder()" *ngIf="isLevel6Shown('idx')" id="submenu">
                <!-- <ion-icon id="tes" name='clipboard' item-start color="secondary"></ion-icon> -->
                Data Job Order
              </ion-item>

               <!-- 6 -->
               <ion-item (click)="toggleLevel7('idx')">
                  <ion-icon id="tes" name='md-bookmarks' item-start color="secondary"></ion-icon>
                   Verification
                   <ion-icon id="tes2" item-end [name]="isLevel7Shown('idx') ? 'md-remove' : 'md-add'"></ion-icon>
                 </ion-item>
                 <ion-item (click)="keVerificationTransaction()" *ngIf="isLevel7Shown('idx')" id="submenu">
                  <!-- <ion-icon id="tes" name='clipboard' item-start color="secondary"></ion-icon> -->
                  Verification Transaction
                </ion-item>
                <ion-item (click)="keVerificationService()" *ngIf="isLevel7Shown('idx')" id="submenu">
                  <!-- <ion-icon id="tes" name='clipboard' item-start color="secondary"></ion-icon> -->
                  Verification Service
                </ion-item>
                <ion-item (click)="keVerificationJobOrder()" *ngIf="isLevel7Shown('idx')" id="submenu">
                  <!-- <ion-icon id="tes" name='clipboard' item-start color="secondary"></ion-icon> -->
                  Verification Job Order
                </ion-item>
          </ion-list>

          <ion-list *ngIf="noakun" >

              <p id="logback">Silahkan Login Kembali</p>
              <button id="logbackbutton" ion-button color="light" outline (click)="logback()" >Login</button>

          </ion-list>

    </ion-content>

</ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
